.GoogleLogin{
    text-align: center;
  }

.signout{
 margin-top: 5em;
}

.signInDiv{
  display: flex;
  align-items: center;
  margin:0%;
  margin-top: 10em;
  margin-left: 40em;
  margin-right: 40em;


}